<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <div class="container">
      <h1>Index</h1>
      <ul>
        <% entries.forEach((i)=>{%>
        <li><a href="<%=i.name%>"><%=i.name%></a></li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
